<!DOCTYPE html>
<html>
    <head>
        <title>My Shoping site</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/media.css">
    </head>

    <body>
        <div id="back">
            <div class="order_detail">
                <div class="image">

                </div>
                <div class="pro_name">

                </div>
                <div class="delivery">

                </div>
            </div>
            <div class="pro_detail">

            </div>
            <div class="rat_rev">

            </div>
            <div "question">

            </div>
            <div class="Also_View">

            </div>
            <div class="cus_care">

            </div>
            <div class="payment">

            </div>
        </div>

        <script
        src="http://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous">
    </script>

    <script src="js/jquery.bxSlider.js"></script>
    <script src="js/my.js"></script>

    </body>
    </html>